$input-background: #fafafa;
$container-border: #dbdbdb;
$secondary-text-light: #a09f9f;
$secondary-text: #737373;
$secondary-text-dark: #353434;

$blue-primary: #0095f6;
$blue-dark: #1878f3;
$blue-facebook: #385185;

$error: #ef2e3e;
