@use '../../styles/abstracts/variables.scss';
@use '../../styles/abstracts/mixins.scss';

.container {
  @include mixins.login-container;

  .sectionPrimary {
    gap: 1rem;
  }

  .showPasswordBtn {
    left: 75%;
  }

  .fbLoginBtn {
    color: white;
    background-color: variables.$blue-primary;
  }
}
